<% include partials/header %>
<div class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Local</h3>
        <% if(user.local.email){ %>
          <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>password</strong>: <%= user.local.password %>
          </p>
          <% } %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
        <% if(user.facebook.token){ %>
          <p>
            <strong>id</strong>: <%= user.facebook.id %><br>
            <strong>token</strong>: <%= user.facebook.token %><br>
            <strong>email</strong>: <%= user.facebook.email %><br>
            <strong>name</strong>: <%= user.facebook.name %>
          </p>

          <a href="/unlink/facebook" class="btn btn-danger">Unlink</a>
          <% } else { %>
          <a href="/connect/facebook" class="btn btn-success">Connect to facebook</a>
          <% } %>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
